.title{
    text-align: center;
    color: aqua;
    background-color: black;
}
img{
    min-width: 200px;
    max-width: 400px;
}
.image{
    text-align: center;
}
h2{
    text-align: center;
    background-color: red;
}
ul{
    background-color: green;
}
p{
    font-size: 20px;
    color: #1bd224;
    background-color: #082a73;
}